<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <h1>Show</h1>
    <a href="/admin_user/">To Index</a><br/><br/>
    <a href="/admin_user/{{admin_user.id}}/edit/">수정</a>
    <form style="display:inline;" action="/admin_user/{{admin_user.id}}/delete/" method="post">{% csrf_token %}
        <input onclick="return confirm('really???')" type="submit" value="삭제">
    </form>

    <h5>{{admin_user.id}}</h5>
    <h5>{{admin_user.name}}</h5>
    <h5>{{admin_user.email}}</h5>
    <h5>{{admin_user.created_at}}</h5>
    <h5>{{admin_user.updated_at}}</h5>
</body>
</html>